* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8DAA81;
    height: 6rem;
    padding: 15px;
    font-size: 2rem;
}

.navbar a {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar img {
    height: 90%;
    width: auto;
    border-radius: 100px;
}

.links {
    display: flex;
    gap: 50px;
}

.links a {
    color: white;
    font-size: 2rem;
}

.links a:hover,
.navbar a:hover img {
    opacity: 0.8;
    cursor: pointer;
}